html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(191, 122, 191);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  /* opacity: .8; */
  /* border-collapse: collapse; */
  /* position: fixed; */
}

/* navigacijos apipavidalinimas */

/* .boxH {
  height: 60px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.567);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px black; 
} */

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 40px;
  margin: 0px;
  padding: 0px;
  margin-right: 50px;
}

.image {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  font-size: 28px;
  color: rgb(255, 255, 255);
}

/* nav a:hover {
  color: grey;
  font-size: 30px;
} */

nav a:hover {
  /* font-size: 32px; */
  color: rgb(135, 80, 116);
}

section {
  height: 900px;
}

.section1 {
  background: url(https://images.alphacoders.com/107/1077672.jpg) no-repeat
    center center / cover fixed;
}

.section2 {
  background-color: white;
}

.section4 {
  background-color: rgb(191, 122, 191);
  height: 650px;
}
.section5 {
  height: 400px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: right;
  width: 880px;
  height: 800px;
  margin: 0px;
}

.box1 {
  background-color: #6f6f6f79;
  border-radius: 15px;
  color: white;
  margin-left: 100px;
}

.pageHeader {
  color: white;
  width: 700px;
  font-size: 38px;
  margin-left: 40px;
  font-weight: bold;
}

.firstPage {
  color: white;
  width: 600px;
  font-size: 26px;
  margin-left: 40px;
  font-weight: bold;
}

.playbutton::before {
  content: "\F4F0";
  font-family: bootstrap-icons;
  color: black;
}

.playbutton {
  text-decoration: none;
}

.vertical {
  top: 50%;
}

footer {
  display: flex;
  background-color: rgb(191, 122, 191);
  color: white;
  font-size: 28px;
  text-align: center;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}

.page2 {
  color: grey;
  font-size: 38px;
  font-weight: bold;
  margin-top: 100px;
}

.page23 {
  color: grey;
  font-size: 26px;
  width: 800px;
  margin-top: 10px;
  text-align: center;
}

.mainDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.images {
  background-image: url(https://wallpapercrafter.com/desktop/37554-Yoga-beach-sea-blue-sky.jpg);
  background-size: cover;
  width: 600px;
  height: 500px;
  background-position: center center;
}

.textbk {
  background-color: rgb(191, 122, 191);
  width: 600px;
  height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.textkb1 {
  color: white;
  font-size: 38px;
  margin-top: 120px;
  margin-left: 30px;
  font-weight: bold;
}

.textkb2 {
  color: white;
  font-size: 32px;
  margin-left: 20px;
  font-weight: bold;
}

.textkb3 {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.images2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}

.imageA {
  background-image: url(https://img.freepik.com/free-photo/yoga-group-classes-inside-gym_1303-17162.jpg);
  background-size: 300px 250px;
  width: 300px;
  height: 250px;
  background-position: center;
}

.imageB {
  background-image: url(https://media.istockphoto.com/id/1299881113/photo/multi-ethnic-group-of-asian-caucasian-male-and-female-work-out-yoga-together-in-studio-room.jpg?s=612x612&w=0&k=20&c=1EnT4UOxNE8FtUgbMDYDBBgCLCuYTaBl_Xxvb84v7F0=);
  background-size: 300px 250px;
  width: 300px;
  height: 250px;
  background-position: center;
}

.imageC {
  background-image: url(https://media.istockphoto.com/id/1041820962/photo/nothing-else-matters.jpg?s=612x612&w=0&k=20&c=thX_1zMVAHKWNVht7xw_SpLhh-LOK4GfKxtL2XeOh5U=);
  background-size: 300px 250px;
  width: 300px;
  height: 250px;
  background-position: center;
}

.text2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}

.text2A {
    width: 300px;
    color: grey;
}

.text3 {
    color: white;
    margin-top: 40px;
    font-size: 38px;
    font-weight: bold;
}

table {
    width: 1000px;
    border-top: 1px solid rgba(0, 0, 0, 0.224);
    border-bottom: 1px solid rgba(0, 0, 0, 0.228);
    border-collapse: collapse;
    background-color: white;
    margin-top: 50px;
    opacity: .7;
}

table th {
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.504);
    color: white;
}

table td {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.503);
    padding: 15px;
}

tr:nth-child(1) {
    background-color: rgba(196, 192, 192, 0.613);
}
tr:nth-child(3) {
    background-color: rgba(196, 192, 192, 0.613);
}
tr:nth-child(5) {
    background-color: rgba(196, 192, 192, 0.613);
}

.reception1 {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
  margin-left: 100px;
  align-items: center;
  margin-bottom: 50px;
}

.reception {
    background-image: url(https://i.pinimg.com/originals/3c/36/c3/3c36c322475a4dfa045c0448ba483994.jpg);
    background-size: 300px 250px;
    width: 400px;
    height: 250px;
    background-position: start;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px black;
}

.text5 {
    font-size: 26px;
    font-weight: bold;
    color: grey; 
}