<header class="headerStyling">
    <nav class="navigationForumsMain">
        <a href="/pages/home">Home</a><a href="/pages/register">Register</a><a href="/pages/login">Login</a>
    </nav>
</header>
