<header class="headerStyling">
    <nav class="navigationForumsMain">
        <a href="/pages/home">Home</a><a href="#">Categories</a><a href="/pages/profile">My Profile</a><a href="/api/user/logout">Log-Out</a>
    </nav>
</header>