<% post.title %>
<% post.content %>
<!-- ir tt -->
<article>
    <h2><a href="/pages/thread" class="threadLink">Thread Title</a></h2>
    <p>Posted by: <span>John Doe</span> | Date: <span>January 24, 2024</span></p>
    <p>Views: <span>24</span> | Replies: <span>8885</span></p>
    <p>Last response: <span>Sigis</span></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi...</p>
    <a href="#">Read more</a>
</article>