<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Forum</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <%- include('./components/header.ejs') %>
    
    <section>
        <%- include('./components/infomessage.ejs') %>
        <% for( const post of posts) {%>
            <%- include('./components/post.ejs', {post}) %>
        <%}%>
        <? console.log(posts) ?>
    </section>
    <footer>
        <p>&copy; 2024 Simple Forum. All rights reserved.</p>
    </footer>
</body>
</html>