<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./components/nav-bar.ejs') %>
    <div class="container">
        <ul>
            <% for(const product of list){ %>
                <li><%= product %></li>
            <% } %>
        </ul>
    </div>
    <script src="index.js"></script>
</body>
</html>