body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

section {
    padding: 20px;
}

article {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    
}

.headerStyling {
    background: url(../public/images/HeaderImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.navigationForumsMain {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000000a8;
    color: #fff;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
a:hover{
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 0, 0, 0.885);
    padding: 10px;
    gap: 0.5rem;
    border-radius: 4px;
}

.grid-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 200px;
}

.grid-item:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:nth-child(1){
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.grid-item:nth-child(3){
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #39d262;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
  }

.thumbsDown {
    color: red;
    cursor: pointer;
}

.thumbsDown:hover {
    color: rgba(255, 0, 0, 0.654);
}

.thumbsUp {
    color: #39d262;
    cursor: pointer;
}

.thumbsUp:hover {
    color: #39d262c4;
}

.threadLink {
    color: black !important;
}

.flex-item {
    display: flex;
    flex-direction: column;
}

.btn-chg-psw {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.btn-chg-psw:hover {
    background-color: #000000c8
}

.message {
    background: rgb(2, 120, 18);
    color: white;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.error {
    background: tomato;
    color: white;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}