@font-face {
  font-family: "Netflix Sans";
  src: url(./assets/fonts/NetflixSans-Regular.otf);
}
@font-face {
  font-family: "Netflix Sans Bold";
  src: url(./assets/fonts/NetflixSans-Bold.otf);
}
@font-face {
  font-family: "Netflix Sans Medium";
  src: url(./assets/fonts/NetflixSans-Medium.otf);
}
@font-face {
  font-family: "Netflix Sans Bold";
  src: url(./assets/fonts/NetflixSans-Light.otf);
}

body {
  background-color: #222223;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans Bold";
}

.modalWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.149);
  z-index: 1000;
}

.modalBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.93);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.modal input {
  width: 100%;
  background: rgba(34, 34, 34, 0.391);
  border: 1px solid rgb(92, 92, 92);
  padding: 1rem 8rem 1rem 1rem;
  margin-right: 0.1rem;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal button {
  background-color: #e50914;
  color: white;
  padding: 10px;
  font-family: "Netflix Sans";
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.modal p {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}
.modal h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  margin-top: 2rem;
  width: 80%;
}

.modal .newToNetflix {
  margin-top: 20px;
}

.modal a {
  text-decoration: none;
  font-weight: bold;
}

/* Style the "Sign Up" link in the modal */
.modal .newToNetflix b {
  color: #ffffff;
  cursor: pointer;
}

/* Ensure the modal content is scrollable if it exceeds the screen height */
.modal {
  overflow-y: auto;
  max-height: calc(100% - 40px); /* Subtract padding top and bottom */
}

.backgroundElement {
  background: url("./assets/images/netflixteaser.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.darken {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.logo {
  margin-left: 2rem;
}

.logo img {
  width: 20%;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

.topElementForLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.selectAndButton {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.selectAndButton button {
  background: red;
  color: white;
  padding: .7rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.selectAndButton button:hover {
    background: rgb(247, 73, 73);
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-container select.with-icon {
  background: rgba(0, 0, 0, 0.195);
  border: 1px solid white;
  padding: .8rem 2rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding-left: 2rem;
  appearance: none;
}

.select-container .icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: white;
  pointer-events: none;
  z-index: 1;
}

.select-container option {
  background: white;
  color: black;
  font-size: 1rem;
}

.getStartedElement {
  padding: 10rem 0;
  text-align: center;
}

.getStartedElement h1 {
  color: white;
  font-family: "Netflix Sans Medium";
  font-size: 2.5rem;
}

.getStartedElement h2 {
  color: white;
  font-family: "Netflix Sans Bold";
  font-size: 1.2rem;
}

.getStartedElement h3 {
  color: white;
  font-family: "Netflix Sans Bold";
  font-size: 1.2rem;
}

.emailInputAndButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.emailInputAndButton input {
  background: rgba(34, 34, 34, 0.391);
  border: 1px solid rgb(92, 92, 92);
  padding: 1rem 8rem 1rem 1rem;
  margin-right: 0.1rem;
  border-radius: 5px;

  font-size: 1rem;
  font-weight: bold;
}

.emailInputAndButton button {
  background: red;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 2rem;
  font-size: 1.3rem;
}

::placeholder {
  color: rgb(204, 203, 203);
}

.containerContent {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;
}

.section {
  background: black;
  margin-top: 1rem;
}

.textContent h1 {
  color: white;
  font-family: "Netflix Sans Medium";
  font-size: 2.5rem;
}

.textContent p {
  color: white;
  font-family: "Netflix Sans Bold";
  font-size: 1.2rem;
}

.FAQs {
  text-align: center;
}

.FAQHeader {
  color: white;
  font-family: "Netflix Sans Medium";
  font-size: 2.5rem;
}

.faq {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #404041;
  margin-bottom: 0.6rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.faq:hover {
  background: #49494a;
}

.faq p {
  color: white;
  font-family: "Netflix Sans Bold";
  font-size: 1.2rem;
}

.bi-plus-lg {
  font-size: 2rem;
  color: white;
}

.faqSpacing {
  padding: 2rem 0;
}

.ready {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ready h2 {
  color: white;
  font-family: "Netflix Sans Bold";
  font-size: 1.2rem;
}

.footerFlex {
  display: flex;
  justify-content: space-between;
}

.footerContent {
  padding: 2rem 0;
  font-family: "Netflix Sans Bold";
  font-size: 1rem;
}

.footerList li {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0.6rem;
}

.footerList ul {
  padding: 0;
}

.footerContent a {
  color: #b2b2b3;
}

.footerContent .select-container {
  position: relative;
  display: inline-block;
}

.footerContent select.with-icon {
  background: rgba(0, 0, 0, 0.195);
  border: 1px solid white;
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  padding-left: 2rem;
  appearance: none;
}

.footerContent .icon {
  position: absolute;
  top: 67%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: white;
  pointer-events: none;
  z-index: 1;
}

.footerContent option {
  background: white;
  color: black;
  font-size: 1rem;
}

.footerContent p {
  color: #b2b2b3;
  font-size: 0.8rem;
  margin-top: 2rem;
}
